@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-bold leading-[68px] tracking-[0.65px];
    /* actual size 65px */
  }
  h2 {
    @apply text-2xl font-semibold leading-[55px] tracking-[0.45px];
        /* actual size 45px */
  }
  h3 {
    @apply text-xl font-semibold leading-[55px] tracking-[0.35px];
        /* actual size 30px */
  }
  h4 {
    @apply text-lg font-normal leading-[48px] tracking-[0.3px];
        /* actual size 35px */
  }
  h5 {
    @apply text-lg font-normal leading-[48px] tracking-[0.15px];
        /* actual size 15px */
  }
}



@layer components {
  .btn-lg {
  @apply inline-flex py-6 px-16 justify-center items-center rounded-[10px] border-1 gap-10;
  }
  .btn-md {
  @apply inline-flex py-4 px-16 justify-center items-center rounded-[10px] border-1 gap-10;
    }
  .btn-sm {
  @apply inline-flex py-4 px-10 justify-center items-center rounded-[10px] border-1 gap-10;
      }
  .btn-xs {
  @apply inline-flex py-2 px-6 justify-center items-center rounded-[10px] border-1 gap-10;
    }
}

body {
  overflow: auto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



























/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
